@import url(css.css);

header, .container {
    padding: 10px 15px;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;

}
h1 {
    color: #0B2972;
    margin: 10px 0;
    font-size: 30px;
    line-height: 30px;
}
p {
    margin: 10px 0;
    font-size: 18px;
}
/* header */
header {
    background: #00ADE6;
}
.header_logo {
    background-size: contain;
    width: 100%;
    height: 25px;
}
/* common */
.bold {
    font-weight: 700;
}
.red {
    color: #0B2972;
}
/* header */
.header_social {
    text-align: right;
}
.header_social_item {
    width: 26px;
    height: 26px;
    background: #fff;
    border-radius: 14px;
    margin: 1px;
    display: inline-block;
}
.header_social_item_fb {
/*    background: url(https://getphonetoday.com/uk/asda/1/header-icon-fb.svg) center no-repeat #fff;*/
    background-size: 8px;
}
.header_social_item_tw {
/*    background: url(https://getphonetoday.com/uk/asda/1/header-icon-tw.svg) center no-repeat #fff;*/
    background-size: 18px;
}
/* coupon */
.block_coupon {
    position: relative;
    /*margin-left: 15%;*/
    background: url(../images/coupon1.png) right no-repeat;
    background-size: contain;
    height: 240px;
    animation: hand-with-coupon 2s;
}
.block_coupon_arrow {
    position: absolute;
    left: 33%;
    background: url(../images/arrow.png) center no-repeat;
    width: 47px;
    height: 24px;
    animation: arrowbounce 2s infinite;
}
@keyframes arrowbounce {
    0%, 100% {
        top: 84%;
    }
    50% {
        top: 78%;
    }
}
@keyframes hand-with-coupon {
    0% {
        background-position: 150%;
    }
    100% {
        background-position: 100%;
    }
}
.fadeInLeft {
    position: relative;
    animation: fadeInLeft 1s;
}
@keyframes fadeInLeft {
    0% {
        left: -120%;
    }
    100% {
        left: 0%;
    }
}
/* quiz */
.block_quiz {
    background: #ebedf0;
}
.block_quiz_question {
    color: #0B2972;
    font-size: 24px;
}
.button {
    background: #E55D15;
    font-weight: 800;
    color: #fff;
    font-size: 26px;
    text-align: center;
    border-radius: 18px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
/* fb */
.block_fb {
    background: #fff;
}
.block_fb_item {
    display: flex;
}
.block_fb_ava {
    flex: none;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background: #2e6da4;
}
.block_fb_comment_wrap {
    position: relative;
}
.block_fb_comment {
    border-radius: 18px;
    background: #ebedf0;
    color: #000;
    padding: 8px 15px;
    margin-left: 8px;
}
.block_fb_name {
    font-size: 12px;
    font-weight: 800;
    margin: 5px 0;
    cursor: pointer;
}
.block_fb_text {
    font-size: 14px;
    font-weight: 400;
    margin: 5px 0;
}
.block_fb_img {
    border-radius: 10px;
}
.block_fb_links {
    font-size: 12px;
    margin-left: 23px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #8d949e;
    font-weight: 600;
}
.block_fb_like {
    display: flex;
    position: absolute;
    left: 85%;
    border-radius: 22px;
    background: #fff;
    padding: 2px;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(34,42,50,0.2);
    -moz-box-shadow: 1px 1px 1px 0px rgba(34,42,50,0.2);
    box-shadow: 1px 1px 1px 0px rgba(34,42,50,0.2);
}
.block_fb_like_icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/like.png) right no-repeat;
}
.block_fb_like_count {
    font-size: 12px;
    line-height: 12px;
    position: relative;
    top: 4px;
    padding-right: 4px;
    padding-left: 3px;
}
.ava_1 {
    background: url(../images/1.jpg) center no-repeat;
    background-size: cover;
}
.ava_2 {
    background: url(../images/2.jpg) center no-repeat;
    background-size: cover;
}
.ava_3 {
    background: url(../images/3.jpg) center no-repeat;
    background-size: cover;
}
.ava_4 {
    background: url(../images/4.jpg) center no-repeat;
    background-size: cover;
}
.ava_5 {
    background: url(../images/5.jpg) center no-repeat;
    background-size: cover;
}
.ava_6 {
    background: url(6.jpg) center no-repeat;
    background-size: cover;
}
.ava_7 {
    background: url(../images/7.jpg) center no-repeat;
    background-size: cover;
}
.ava_8 {
    background: url(../images/8.jpg) center no-repeat;
    background-size: cover;
}
.ava_9 {
    background: url(../images/9.jpg) center no-repeat;
    background-size: cover;
}
.ava_10 {
    background: url(../images/10.jpg) center no-repeat;
    background-size: cover;
}
.ava_11 {
/*    background: url(https://getphonetoday.com/uk/asda/1/11.jpg) center no-repeat;*/
    background-size: cover;
}
#q2,#q3,#q4,#content2,#content3,#result1,#result2,#result3 {
    display: none;
}
.result {
    font-size: 16px;
}
.result:before {
    padding-right: 5px;
/*    content: url(https://getphonetoday.com/uk/asda/1/check.svg);*/
}
.loading {
    text-align: center;
}
#content1 {
/*    background: url(https://getphonetoday.com/uk/asda/1/bg.png) top no-repeat;*/
    background-size: 100%;
}
#content2,#content3 {
    min-height: 100vh;
}
